*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 80%;
    height: 50%;
    background-color: rgb(60, 61, 61);
    border-radius: 25px;
    box-shadow: 3px 3px 10px rgb(121, 119, 119);
    margin: 0 auto;
}

.display{
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

#multiplicador-inicial{
    color: white;
    text-align: center;
    padding-top: 120px;
    font-size: 3.5em;
}

.painel-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 300px;
}

.painel{
    width: 48%;
    height: 230px;
    background-color: rgb(60, 61, 61);
    box-shadow: 3px 3px 10px rgb(121, 119, 119);
    border-radius: 25px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

#valor-de-aposta{
background-color: black;
border: none;
border-radius: 25px;
color: rgb(255, 251, 251);
height: 25px;
text-align: center;
}

.confirma-aposta{
border: none;
border-radius: 25px;
height: 85px;
width: 250px;
align-self: center;
background-color: rgb(24, 248, 43);
color: white;
font-size: 30px;
}
.confirma-aposta:hover{
border: none;
border-radius: 25px;
height: 85px;
width: 250px;
align-self: center;
background-color: rgba(46, 238, 62, 0.945);
color: white;
font-size: 30px;
cursor: pointer;
}

.confirma-aposta-modificado{
border: none;
border-radius: 25px;
height: 85px;
width: 250px;
align-self: center;
background-color: rgb(236, 144, 57);
color: white;
font-size: 30px;
}
.confirma-aposta-modificado:hover{
border: none;
border-radius: 25px;
height: 85px;
width: 250px;
align-self: center;
background-color: rgb(241, 158, 79);
color: white;
font-size: 30px;
cursor: pointer;
}

.painel-de-apostas{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 5px;
}

.btn-valor-fixo{
    width: 85px;
    border-radius: 10px;
    border: 1px solid rgb(158, 157, 157);
    background-color: rgb(53, 56, 56);
    color: white;
    height: 20px;
    margin-top: 3px;
}

.btn-valor-fixo:hover{
    width: 85px;
    border-radius: 10px;
    border: 1px solid rgb(158, 157, 157);
    background-color: rgba(98, 104, 104, 0.726);
    color: white;
    cursor: pointer;
}
#primeira-vela{
    display: none;
}

.velas-anteriores{
    width: 79%;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
}

.vela-baixa{
    width: 50px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: rgb(43, 137, 226);
    color: white;
    font-size: 0.7em;
}

.vela-baixa:hover{
    width: 50px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: rgba(62, 145, 223, 0.952);
    color: white;
    cursor: pointer;
}

.vela-media{
    width: 50px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 0.7em;
}

.vela-media:hover{
    width: 50px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: rgba(154, 74, 228, 0.959);
    color: white;
    cursor: pointer;
}

.vela-alta{
    width: 50px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: rgb(220, 44, 236);
    color: white;
    font-size: 0.7em;
}

.vela-alta:hover{
    width: 50px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: rgba(214, 77, 226, 0.952);
    color: white;
    cursor: pointer;
}