*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url('./alien-background.jpg');
}

.body-color{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.288);
    background-size: cover;
}

.nav-bar{
    width: 100vw;
    height: 50px;
    background-color: rgba(36, 36, 36);
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
}

#page-title{
    margin-right: 750px;
    align-self: center;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 35px;
}

#page-title:hover{
    margin-right: 750px;
    align-self: center;
    color: rgb(243, 167, 54);
    font-family: 'Lobster', cursive;
    font-size: 35px;
}

#credit-display{
    color: white;
    margin-right: 200px;
    align-self: center;
    background-color: rgb(247, 186, 21);
    border-radius: 10px;
    display: flex;
    justify-content:space-evenly;
    width: 175px;
    height: 35px;
}

#credit-display:hover{
    color: white;
    margin-right: 200px;
    align-self: center;
    background-color: rgba(243, 192, 51, 0.904);
    border-radius: 10px;
    display: flex;
    justify-content:space-evenly;
    width: 175px;
    height: 35px;
}

#credit{
    margin-top: 10px;
    color: rgb(39, 39, 39);
    align-self: center;
    letter-spacing: 0.5;
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
}

#icon-money{
    max-width: 30px;
    max-height: 30px;
    align-self: center;
}

.container-multiplicador{
    width: 79%;
    height: 40%;
    border-radius: 25px;
    background-color: rgba(60, 61, 61, 0.979); 
    margin: 0 auto;
}

.display{
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

#multiplicador-inicial{
    color: white;
    text-align: center;
    padding-top: 100px;
    font-size: 3.5em;
    font-family: 'Mulish', sans-serif;
}

.painel-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 300px;
}

.painel{
    width: 48%;
    height: 230px;
    background-color: rgba(60, 61, 61, 0.979); 
    border-radius: 25px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

#valor-de-aposta{
background-color: black;
border: none;
border-radius: 25px;
color: rgb(255, 251, 251);
height: 25px;
text-align: center;
width: 100%;
}

.confirma-aposta{
border: none;
border-radius: 25px;
height: 85px;
width: 50%;
align-self: center;
background-color: rgba(46, 238, 62, 0.945);
color: white;
font-size: 30px;
cursor: pointer;
}
.confirma-aposta:hover{
border: none;
border-radius: 25px;
height: 85px;
width: 50%;
align-self: center;
background-color: rgba(46, 238, 62, 0.945);
color: white;
font-size: 30px;
cursor: pointer;
}

.confirma-aposta-modificado{
border: none;
border-radius: 25px;
height: 85px;
width: 50%;
align-self: center;
background-color: rgb(236, 144, 57);
color: white;
font-size: 30px;
}
.confirma-aposta-modificado:hover{
border: none;
border-radius: 25px;
height: 85px;
width: 50%;;
align-self: center;
background-color: rgb(241, 158, 79);
color: white;
font-size: 30px;
cursor: pointer;
}

.painel-de-apostas{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 5px;
}

.btn-valor-fixo{
    width: 85px;
    border-radius: 10px;
    border: 1px solid rgb(158, 157, 157);
    background-color: rgb(53, 56, 56);
    color: white;
    height: 20px;
    margin-top: 3px;
    font-family: 'Mulish', sans-serif;
    font-size: 0.9em;
}

.btn-valor-fixo:hover{
    width: 85px;
    border-radius: 10px;
    border: 1px solid rgb(158, 157, 157);
    background-color: rgba(98, 104, 104, 0.726);
    color: white;
    cursor: pointer;
}
#primeira-vela{
    display: none;
    width: 0;
}

.velas-anteriores{
    width: 80%;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
}

.vela-baixa{
    width: 50px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: rgb(43, 137, 226);
    color: white;
    font-size: 0.7em;
}

.vela-baixa:hover{
    width: 50px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: rgba(62, 145, 223, 0.952);
    color: white;
    cursor: pointer;
}

.vela-media{
    width: 50px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 0.7em;
}

.vela-media:hover{
    width: 50px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: rgba(154, 74, 228, 0.959);
    color: white;
    cursor: pointer;
}

.vela-alta{
    width: 50px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: rgb(220, 44, 236);
    color: white;
    font-size: 0.7em;
}

.vela-alta:hover{
    width: 50px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: rgba(214, 77, 226, 0.952);
    color: white;
    cursor: pointer;
}

#icon-alert{
    width: 30px;
    height: 30px;
}

.toast-body{
    font-size: 20px;
    background-color: rgb(24, 248, 43);
    color: white;
    font-weight: 500;
}

/* max-width 400px  */
@media screen and (max-width: 400px) {
    .painel-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 400px;
    flex-direction: column;
}

#multiplicador-inicial {
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 3.5em;
    font-family: 'Mulish', sans-serif;
}

#page-title {
    margin-right: 70px;
    align-self: center;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 35px;
}

.painel {
    width: 100%;
    height: 230px;
    background-color: rgba(60, 61, 61, 0.979);
    border-radius: 25px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.container-multiplicador {
    width: 79%;
    height: 20%;
    border-radius: 25px;
    background-color: rgba(60, 61, 61, 0.979);
    margin: 0 auto;
}

.confirma-aposta{
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 40%;
    align-self: center;
    background-color: rgb(24, 248, 43);
    color: white;
    font-size: 30px;
    }
    
    .confirma-aposta:hover{
        border: none;
        border-radius: 25px;
        height: 50px;
        width: 40%;
        align-self: center;
        background-color: rgba(46, 238, 62, 0.945);
        color: white;
        font-size: 30px;
        cursor: pointer;
        }
        
    .confirma-aposta-modificado{
        border: none;
        border-radius: 25px;
        height: 50px;
        width: 20%;
        align-self: center;
        background-color: rgb(236, 144, 57);
        color: white;
        }
        .confirma-aposta-modificado:hover{
        border: none;
        border-radius: 25px;
        height: 50px;
        width: 40%;;
        align-self: center;
        background-color: rgb(241, 158, 79);
        color: white;
        cursor: pointer;
        }
    
    #credit-display {
        color: white;
        margin-right: 30px;
        align-self: center;
        background-color: rgb(247, 186, 21);
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        width: 175px;
        height: 35px;
    }
}

/* max-width  */
@media screen and (min-width: 401px) and (max-width: 800px) {
    .painel-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 400px;
    flex-direction: column;
}

#page-title {
    margin-right: 70px;
    align-self: center;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 35px;
}

#multiplicador-inicial {
    color: white;
    text-align: center;
    padding-top: 32px;
    font-size: 3.5em;
    font-family: 'Mulish', sans-serif;
}

.painel {
    width: 100%;
    height: 230px;
    background-color: rgba(60, 61, 61, 0.979);
    border-radius: 25px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.container-multiplicador {
    width: 79%;
    height: 20%;
    border-radius: 25px;
    background-color: rgba(60, 61, 61, 0.979);
    margin: 0 auto;
}

.confirma-aposta{
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 40%;
    align-self: center;
    background-color: rgb(24, 248, 43);
    color: white;
    font-size: 30px;
    }
    
    .confirma-aposta:hover{
        border: none;
        border-radius: 25px;
        height: 50px;
        width: 40%;
        align-self: center;
        background-color: rgba(46, 238, 62, 0.945);
        color: white;
        font-size: 30px;
        cursor: pointer;
        }
        
    .confirma-aposta-modificado{
        border: none;
        border-radius: 25px;
        height: 50px;
        width: 20%;
        align-self: center;
        background-color: rgb(236, 144, 57);
        color: white;
        }
        .confirma-aposta-modificado:hover{
        border: none;
        border-radius: 25px;
        height: 50px;
        width: 40%;;
        align-self: center;
        background-color: rgb(241, 158, 79);
        color: white;
        cursor: pointer;
        }
    .confirma-aposta-modificado{
        border: none;
        border-radius: 25px;
        height: 50px;
        width: 40%;
        align-self: center;
        background-color: rgb(236, 144, 57);
        color: white;
        font-size: 30px;
        }
        .confirma-aposta-modificado:hover{
        border: none;
        border-radius: 25px;
        height: 50px;
        width: 40%;;
        align-self: center;
        background-color: rgb(241, 158, 79);
        color: white;
        font-size: 30px;
        cursor: pointer;
        }

    #credit-display {
        color: white;
        margin-right: 30px;
        align-self: center;
        background-color: rgb(247, 186, 21);
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        width: 175px;
        height: 35px;
    }

}

@media screen and (min-width: 801px) and (max-width: 1000px) {
    .painel-container {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        width: 80%;
        height: 400px;
        gap: 10px;
    }

    #multiplicador-inicial {
        color: white;
        text-align: center;
        font-size: 3.5em;
        font-family: 'Mulish', sans-serif;
    }

    .painel {
        width: 100%;
        height: 230px;
        background-color: rgba(60, 61, 61, 0.979);
        border-radius: 25px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
    }
        
    #credit-display {
        color: white;
        margin-right: 60px;
        align-self: center;
        background-color: rgb(247, 186, 21);
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        width: 175px;
        height: 35px;
    }

    #page-title {
        margin-right: 450px;
        align-self: center;
        color: white;
        font-family: 'Lobster', cursive;
        font-size: 35px;
    }
}

@media screen and (min-width: 1000px){
    #multiplicador-inicial {
        color: white;
        text-align: center;
        padding-top: 75px;
        font-size: 3.5em;
        font-family: 'Mulish', sans-serif;
    }
}
